rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "aryanraikwar78@gmail.com";
    }

    match /projects/{fileName=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 25 * 1024 * 1024;
    }

    match /certificates/{fileName=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 25 * 1024 * 1024;
    }

    match /resume/{fileName=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 15 * 1024 * 1024;
    }
  }
}
